Data Analysis

In [1]:
import pandas as pd

In [ ]:
#carregando os dados brutos
home = pd.read_csv('../data/raw/home_page_table.csv')

#visualizando as primeiras linhas
home.head(5)

   user_id       page
0   313593  home_page
1   468315  home_page
2   264005  home_page
3   290784  home_page
4   639104  home_page

In [4]:
#checando informações dos dados
home.info()

#checando a quantidade de valores nulos
home.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90400 entries, 0 to 90399
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  90400 non-null  int64
 1   page     90400 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.4+ MB

user_id    0
page       0
dtype: int64

In [5]:
#removendo duplicatas
home = home.drop_duplicates()

In [6]:
home.dtypes

user_id     int64
page       object
dtype: object

In [7]:
#salvando o arquivo limpo na pasta 'processed'
home.to_csv('../data/processed/home_page_table.csv', index=False)