Data Analysis

In [2]:
import pandas as pd

In [3]:
search = pd.read_csv('../data/raw/search_page_table.csv')
search.head()

   user_id         page
0    15866  search_page
1   347058  search_page
2   577020  search_page
3   780347  search_page
4   383739  search_page

In [4]:
print(search.dtypes)
print(search.isnull().sum())

user_id     int64
page       object
dtype: object
user_id    0
page       0
dtype: int64

In [5]:
search = search.drop_duplicates()

In [6]:
#salvando o arquivo limpo na pasta 'processed'
search.to_csv('../data/processed/search_page_table.csv', index=False)