Data Analysis

In [1]:
import pandas as pd

In [2]:
payment = pd.read_csv('../data/raw/payment_page_table.csv')
payment.head()

   user_id          page
0   253019  payment_page
1   310478  payment_page
2   304081  payment_page
3   901286  payment_page
4   195052  payment_page

In [3]:
print(payment.dtypes)
print(payment.isnull().sum())

user_id     int64
page       object
dtype: object
user_id    0
page       0
dtype: int64

In [4]:
payment = payment.drop_duplicates()

In [5]:
#salvando o arquivo limpo na pasta 'processed'
payment.to_csv('../data/processed/payment_page_table.csv', index=False)